.experiences-section{
    background: var(--second-bg-color);
    padding:74px;
    height: 100vh;
   
}
.experiences-section h1{
    color:white;
}
.experiences-section h1 span{
color:aqua;
}
.experiences-section-content{
    display: flex;
    padding: 30px;
}
.experiences-section-content .languages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    margin-top: 60px;
    width: 20%;
    margin-right: 10%;  
}
.experiences-section-content .languages .language-item{
    margin: 5px;
    transition: transform 0.3s; /* Moved the transition here */
}
.experiences-section-content .languages .language-item:hover{
    transform: scale(1.5); /* Scale up by 1.2 when hovered */
}
.intern{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.intern-item{
    /* border: 1px solid white; */
    margin: 20px;
    width:100%;
    padding: 10px;
    background-image:linear-gradient(
        90deg,
         rgba(165, 215, 232, 0.42) 0%,
         rgba(255, 255, 255, 0) 100%) ;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
   
}
.intern-item:hover{
    background-size: 100% 100%;
}
.company-title{
font-size: 25px;
color:white;
}
.company-info p{
    color:white;
}
.intern-company-info{
    font-size: 18px;
    color:rgb(210, 205, 205);
   

}
    