.about-section-container{
    background-color:var(--second-bg-color);
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.about-section-body{
    background: transparent;
    width: 80%;
    padding:73px;
    border-radius: 15px;
   
}
.about-section-body span{
    color: var(--main-color)
}
.about-section-body h1{
    color:white;
    text-transform: uppercase;
    font-weight:700;
    font-size: 30px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9),
    3px 3px 2px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
}
.about-section-content{
    display: flex;
    gap:10px;
}
.about-section-content h3{
    color:white;
}
.about-section-content p{
    color:rgb(197, 190, 190);
}
.about-section-content{
    box-shadow: 
    1px 1px 5px rgba(0, 0, 0, 0.9), 
    2px 2px 10px rgba(0, 0, 0, 0.3), 
    3px 3px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    color:gray;
    margin: 20px 0;
    padding: 10px;
    /* border: 1px solid white; */
    background-image:linear-gradient(
        90deg,
         rgba(165, 215, 232, 0.42) 0%,
         rgba(255, 255, 255, 0) 100%) ;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.about-section-content:hover{
    background-size:100% 100%;
}
.about-section-image{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua
}

@media (max-width:457px) {
    .about-section-body{
        width: 92%;
        padding:7px;
        border-radius: 15px;
        font-size: 14px;
    }
}