.navigation{
    padding: 0 8px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--bg-color);
    color: white;
    height:93px;
    z-index: 100;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9),
    3px 3px 2px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
}
.navigation ul{
    list-style: none;
    display: flex;
    gap:24px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9),
    3px 3px 2px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
}
/* .navigation ul a{
    text-decoration: none;
    color: white;
} */

/* .navigation ul li a .home {
    color: red;
  } */

  .highlighter{
    color: var(--main-color);
  }

.nav_links.active{
    color: red;
}

@media screen and (max-width: 556px){
    .nav_links{
      display:none;
    }
    
  }


