.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:60px;
    color: white;
    background: var(--bg-color);
    margin-top: 0px;
    width:100%;
    height: calc(100vh + 93px);
}


.home__info h3{ 
    font-size: 2rem;
    font-weight: 600;
}
.home__info h1 {
    font-weight: 800;
    font-size: 3rem;
}
.home__info span {
    color: var(--main-color);
}
 .image{
    position: relative;
    width:450px;
    height:450px;
    border-radius: 50%;
    box-shadow: 
    1px 1px 5px rgba(0, 0, 0, 0.9), 
    2px 2px 10px rgba(0, 0, 0, 0.3), 
    3px 3px 15px rgba(0, 0, 0, 0.2);
    /* border: 2px solid  rgb(22, 191, 177); */
    /* border-bottom:2px solid rgb(18, 176, 152); */
    overflow: hidden;
    animation:move 3s infinite linear; 
    
}
.image::after{
    content: ''; /* Add content to make the pseudo-element visible */
    position: absolute; /* Position the pseudo-element */
    top: 0px;
    left: 0px;
    width: 450px;
    height: 450px;
    border-top: 5px dashed rgb(18, 176, 152);
    border-radius: 50%; /* Make sure the pseudo-element border is circular */
   animation: rotate 5s infinite linear;
}


.image img{
   overflow: none;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.socialMedia{
    padding:18px 0;
    display: flex;
    gap:18px;
}
.socialMedia a{
    text-decoration: none;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:2.5rem;
    height:2.5rem;
    background:transparent;
    border:.1rem solid var(--main-color);
    border-radius:50%;
    font-size:1.5rem;
    color:var(--main-color);
   
}
.socialMedia a:hover{
    
    background-color:var(--main-color);
    color:var(--bg-color) ;
    border:.1rem solid var(--bg-color);
   
}
@keyframes move {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-0px);
       
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1080px) {
    .container{
       display: flex;
       flex-direction: column;
       gap:20px;
       /* flex-wrap: wrap; */
       padding-top: 100px;
        color: white;
        background: var(--bg-color);
       
    }
    .image{
        width:400px;
        height:400px;
        display: flex;
        position: relative;
        /* top:70px; */
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* border: 2px dashed rgb(22, 191, 177); */
        overflow: hidden; 
    }
    .image::after{
        content: ''; /* Add content to make the pseudo-element visible */
        position: absolute; /* Position the pseudo-element */
        top: 0px;
        left: 0px;
        width: 400px;
        height: 400px;
        border-top: 5px dashed rgb(18, 176, 152);
        border-radius: 50%; /* Make sure the pseudo-element border is circular */
       animation: rotate 5s infinite linear;
    }



    .home__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }



  @media screen and (max-width: 537px) {
    .container{
        padding-top: 0px;

    }
    
    .image{
        width:330px;
        height:330px;
        display: flex;
        position: relative;
        top:70px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* border: 2px dashed rgb(22, 191, 177); */
        overflow: hidden; 
    }
    .image::after{
        content: ''; /* Add content to make the pseudo-element visible */
        position: absolute; /* Position the pseudo-element */
        top: 0px;
        left: 0px;
        width: 330px;
        height: 330px;
        border-top: 5px dashed rgb(18, 176, 152);
        border-radius: 50%; /* Make sure the pseudo-element border is circular */
       animation: rotate 5s infinite linear;
    }


    .home__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }

  @media screen and (max-width: 536px) {

    
    
    .home__info h3{ 
        font-size: 1.5rem;
        font-weight: 600;
    }
    .home__info h1 {
        font-weight: 800;
        font-size: 2rem;
    }
    .home__info span {
        color: var(--main-color);
    }

    .image{
        width:300px;
        height:300px;
    }

    .image::after{
        content: ''; /* Add content to make the pseudo-element visible */
        position: absolute; /* Position the pseudo-element */
        top: 0px;
        left: 0px;
        width: 300px;
        height: 300px;
        border-top: 5px dashed rgb(18, 176, 152);
        border-radius: 50%; /* Make sure the pseudo-element border is circular */
       animation: rotate 5s infinite linear;
    }
    

  }

  @media screen and (max-width: 367px) {
    .container{
        /* display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap:60px;
        color: white;
        background: var(--bg-color);
        margin-top: 0px;
        width:100%; */
        height: calc(100vh + 30px);
    }
    
    .home__info h3{ 
        font-size: 1.2rem;
        font-weight: 600;
    }
    .home__info h1 {
        font-weight: 800;
        font-size: 2rem;
    }
    .home__info span {
        color: var(--main-color);
    }

    .image{
        width:280px;
        height:280px;
    }

    .image::after{
        content: ''; /* Add content to make the pseudo-element visible */
        position: absolute; /* Position the pseudo-element */
        top: 0px;
        left: 0px;
        width: 280px;
        height: 280px;
        border-top: 5px dashed rgb(18, 176, 152);
        border-radius: 50%; /* Make sure the pseudo-element border is circular */
       animation: rotate 5s infinite linear;
    }

  }