.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:60px;
    color: white;
    background: var(--bg-color);
    width:100%;
    height: calc(100vh + 93px);
}


.home__info h3{ 
    font-size: 2rem;
    font-weight: 600;
}
.home__info h1 {
    font-weight: 800;
    font-size: 3rem;
}
.home__info span {
    color: var(--main-color);
}
 .image{
    width:450px;
    height:450px;
    border-radius: 50%;
    border: 2px dashed rgb(22, 191, 177);
    overflow: hidden;
    animation: move 3s infinite;
    
}

.image img{
   overflow: none;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.socialMedia{
    padding:18px 0;
    display: flex;
    gap:18px;
}
.socialMedia a{
    text-decoration: none;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:2.5rem;
    height:2.5rem;
    background:transparent;
    border:.1rem solid var(--main-color);
    border-radius:50%;
    font-size:1.5rem;
    color:var(--main-color);
   
}
.socialMedia a:hover{
    
    background-color:var(--main-color);
    color:var(--bg-color) ;
    border:.1rem solid var(--bg-color);
   
}
@keyframes move {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-0px);
    }
}

@media screen and (max-width: 1080px) {
    .container{
       display: flex;
       flex-direction: column;
       gap:20px;
       /* flex-wrap: wrap; */
       padding-top: 100px;
        color: white;
        background: var(--bg-color);
       
    }
    .image{
        width:400px;
        height:400px;
        display: flex;
        position: relative;
        /* top:70px; */
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px dashed rgb(22, 191, 177);
        overflow: hidden;
        
    }
    .home__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }



  @media screen and (max-width: 537px) {
    .container{
        padding-top: 0px;

    }
    
    .image{
        width:330px;
        height:330px;
        display: flex;
        position: relative;
        top:70px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px dashed rgb(22, 191, 177);
        overflow: hidden;
        
    }
    .home__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }

  @media screen and (max-width: 536px) {

    
    
    .home__info h3{ 
        font-size: 1.5rem;
        font-weight: 600;
    }
    .home__info h1 {
        font-weight: 800;
        font-size: 2rem;
    }
    .home__info span {
        color: var(--main-color);
    }

    .image{
        width:300px;
        height:300px;
    }
    

  }

  @media screen and (max-width: 367px) {
    
    .home__info h3{ 
        font-size: 1.2rem;
        font-weight: 600;
    }
    .home__info h1 {
        font-weight: 800;
        font-size: 2rem;
    }
    .home__info span {
        color: var(--main-color);
    }

    .image{
        width:280px;
        height:280px;
    }

  }