.contact-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--second-bg-color);
    color: white;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9),
    3px 3px 2px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
}

.contact-page form h1{
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9),
    3px 3px 2px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(0, 0, 0, 0.2);
}
.contact-page h1 span{
   color: aqua;
}
.contact-form{
    width: 90%;
    height: 70vh;
    justify-content: space-evenly;
    margin: 0px auto;
    padding: 10px 2px;
    box-shadow: 
    1px 1px 5px rgba(0, 0, 0, 0.9), 
    2px 2px 10px rgba(0, 0, 0, 0.3), 
    3px 3px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   align-items: center;
}
.contact-form div{
    margin: 0 10px;
    width: 98%;
}
.contact-form input{
    width: 85%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    box-shadow: 
    1px 1px 5px rgba(0, 0, 0, 0.9), 
    2px 2px 10px rgba(0, 0, 0, 0.1), 
    3px 3px 15px rgba(0, 0, 0, 0.01);
    
}
.contact-form input:focus{    
    outline: 1px solid aqua; 
}
.contact-form textarea:focus{    
    outline: 1px solid aqua; 
}
.contact-form textarea{
    width: 85%;
    padding: 10px;
    max-height: 10vh;
    outline: none;
    border-radius: 10px;
    box-shadow: 
    1px 1px 5px rgba(0, 0, 0, 0.9), 
    2px 2px 10px rgba(0, 0, 0, 0.1), 
    3px 3px 15px rgba(0, 0, 0, 0.01);
    
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
}
.button button{
   padding: 10px 50px;
   background-color: aquamarine;
   outline: none;
   border: none;
   border-radius: 10px;
   box-shadow: 
   1px 1px 5px rgba(0, 0, 0, 0.9), 
   2px 2px 10px rgba(0, 0, 0, 0.3), 
   3px 3px 15px rgba(0, 0, 0, 0.2);
}