@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --bg-color:#1f242d;
  --second-bg-color:#323946;
  --text-color:#fff;
  --main-color:#0ef;
}
*{
margin:0;
}

body{
  font-family: "Poppins", sans-serif;
}
.nav{
  width: 99%;
  position:fixed;
}
.selected {
  color:red;
}
.active{
  color:var(--main-color);
}
.burger-menu{
  display: none;
 
}
.display{
  background: rgb(100, 143, 171);
  color:rgb(52, 47, 18);
  height: calc(100vh - 93px);
  width:30vw;
  padding-top: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap:10px;
  /* justify-content: center; */
  flex-direction: column;
  position: absolute;
  top:100%;
  right:0px;
  animation: slide 0.5s ease-out forwards ;
}
.hide{
  display: none;
}
.f-2{
  font-size: 2.5rem;
}
 th, td {
 padding: 5px;
  
}


@keyframes slide {
  0% {
    width:0;
    padding-top:100vh;
    /* padding-right: -10vh; */
  }
  100% {
    width:35vw ; /* Adjusted final position */
    padding-top: 50px;
    /* padding-left: 0px; */
  }
}

@media screen and (max-width: 556px){
  .burger-menu{
    display:block;
    font-size: 2rem;
  }
  
}
