@tailwind base;
@tailwind components;
@tailwind utilities;



.flex{
    display: flex;
   flex-wrap: wrap;
   gap: 10px;
   
}
.projects{
    overflow-y: scroll;
    height: 50vh;
    padding: 10px 10px;
}
.toast-container{
    text-shadow: none;
    box-shadow: none;
}
@media (max-width:760px) {
    .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
